body {
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
}

h1 {
    color: #4caf50;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0;
    color: #4caf50;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #4caf50;
    text-decoration: none;
}
